section{
    background-color: gray;
    margin: 5px;
    padding: 5px;
}
article{
    background-color: lime;
    width: 300px;
    height: 100px;
    margin: 5px;
    padding: 5px;
}
/* #a2{
    float: right;
}
#a3{
    clear:both;
} */
#s1 article{
    float: right;
}
/* #s1{
    float: left;
}
#s2{
    clear: both;
}
section{
    float: left;
} */
#s1{
    overflow: hidden;
}